on:
  push:
    branches:
      - main

jobs:
  deploy_to_prod:
    name: Deploy to Prod
    runs-on: ubuntu-latest
    environment: PRODUCTION

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Databricks CLI Setup
        uses: databricks/setup-cli@main

      - name: Configure Databricks Credentials
        run: |
          cat <<EOF > ~/.databrickscfg
          [prod]
          host = ${{ secrets.DATABRICKS_HOST }}
          azure_tenant_id = ${{secrets.AZURE_TENANT_ID }}
          azure_client_id = ${{ secrets.AZURE_CLIENT_ID }}
          azure_client_secret = ${{ secrets.AZURE_CLIENT_SECRET }}
          EOF

      - name: debug
        run: cat ~/.databrickscfg

      - name: Databricks Bundle Deploy
        run: databricks bundle deploy -t prod -p prod
